@{
    ViewData["Title"] = "Home Page";
}
@model List<Mission>

<div class="text-center">
    <h1 class="display-4">SpaceX Launches</h1>




    <table class="table table-secondary">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Rocket Name</th>
                <th scope="col">Date</th>
                <th scope="col">UTC Time</th>
                <th scope="col">CST Time</th>
                <th scope="col">Was it a success?</th>
                <th scope="col">Payload Rank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mission mission in Model)
            {
            <tr>
                <td>
                    @if (mission.Pic != null)
                    {
                        <img src="@mission.Pic" alt="logo" style="height:100px;width:100px;"/>
                    }
                    else
                    {
                        <img src="https://i.imgur.com/qT6flNx.png" alt="logo" style="height:100px;width:100px;border-radius:20px;" />
                    }
                </td>
                <td>
                    @mission.RocketName
                </td>
                <td>
                    @mission.Date
                </td>
                <td>
                    @mission.UTCTIME
                </td>
                <td>
                    @mission.Time
                </td>
                <td>
                    @if (mission.WasSuccess == null)
                    {
                        <p>Not launched yet</p>
                    }
                    else if ((bool)mission.WasSuccess)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    @mission.MassRank
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

